.boxForm{
	position: absolute;
	justify-content: center;
	z-index: 1;
	margin: 150px 0px;
	color: white;
	padding: 9px;
	height: 250px;
	/* width: 250px; */
	width: 100%;
}

.loginContainer{
	position: relative;
	height: 100%;
	width: 100%;
}

.trasparentButton{
	border: 1px solid white;
	border-radius: 13px;
}

.white{
	color: white;
	font-weight: bold;
}

.optionList{
	background-color: transparent;
}

.disabled{
	opacity: 0.5;
}

.row{
	margin: 20px;
}

.title{
	font-size: 26px;
	font-weight: bold;
}

.subtitle{
	font-size: 22px;
	font-style: italic;
}

.buttonContainer{
	// position: absolute;
  // bottom: 30px;
  justify-content: center;
	width: 100%;
	&.salta{
		margin-top: 60px;
	}
}

.link{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.small-text{
	color: white;

}

.buttonImage{
	background: transparent;
	color: white;
}