<ion-content>
	<div class="loginContainer">
		<div class="boxForm">
			<div class="row">
				<span class="title">Benvenuto in BeachLivery</span>
			</div>
			<div class="row">
				<span class="subtitle">L'ordine arriva direttamente sotto l'ombrellone</span>
			</div>
		</div>
		<div class="buttonContainer">
			<div class="row">
				<ion-button type="submit" color="transparent" class="trasparentButton" expand="block" (click)="init()">Inizia</ion-button>
			</div>
		</div>
		<img src="/assets/spiagge/fano.jpg" class="full">
	</div>

</ion-content>
