<ion-content>
	<div class="loginContainer">
		<form [formGroup]="form" (ngSubmit)="login(form)">
			<div class="boxForm">
				<div class="row">
					<span class="title">Benvenuto in BeachLivery</span>
				</div>
				<div class="row">
					<span class="subtitle">L'ordine arriva direttamente sotto l'ombrellone</span>
				</div>
				<ion-item color="transparent">
					<ion-input name="cellulare" class="white" type="phone" placeholder="Numero di telefono" formControlName="cellulare"></ion-input>
				</ion-item>
				<ion-item color="transparent">
					<ion-input name="password" class="white" type="password" placeholder="Password" formControlName="password"></ion-input>
				</ion-item>
				<div class="buttonContainer">
					<ion-button type="submit" color="transparent" class="trasparentButton" expand="block">Accedi</ion-button>
					<div class="link">
						<a [routerLink]="['/register']" class="small-text">Registrati</a>
						<a [routerLink]="['/forgot-password']" class="small-text">Password dimeticata?</a>
					</div>
				</div>
			</div>
		</form>
		<img alt src="/assets/spiagge/fano.jpg" class="full">
	</div>
</ion-content>
