<ion-header>
  <ion-toolbar color="primary" class="central">
		<ion-title>Bar {{spiaggia.title}}</ion-title>
		<ion-buttons slot="start">
      <ion-button  (click)="comeBack()">
				<ion-icon name="arrow-back" mode="ios"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons *ngIf="carrello.length > 0" slot="end">
			<ion-icon name="trash" mode="ios" class="sizeIcon" (click)="svuotaCarrello()"></ion-icon>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header class="central">
			<ion-card-title>Listino prezzi</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<div class="containerServices">
				<ng-container *ngFor="let section of spiaggia.serviziBar">
					<div class="boxService" [ngClass]="{'selected': section.codSection === sectionActive}" (click)="sectionActive = section.codSection">
						<img src="/assets/bar-icons/{{section.codSection}}.svg" class="iconService" >
						<span class="descSection" [ngClass]="{'selected': section.codSection === sectionActive}">{{section.descSection}}</span>
					</div>
				</ng-container>
			</div>
			<ng-container *ngFor="let section of spiaggia.serviziBar">
				<ion-list *ngIf="section.codSection === sectionActive" class="itemsContainer">
					<ion-item *ngFor="let item of section.items"(click)="item.selected = !item.selected">
						<div class="itemContainer" [ngClass]="{'inCarrello': isInCarrello(item)}">
							<div class="flex1 descItem">
								{{item.desc}}
							</div>
							<div class="flex1 center">
								<span class="prezzo" [ngClass]="{'inCarrello': isInCarrello(item)}">{{item.prezzo | number: '1.0-2'}} €</span>
							</div>
							<div class="flex1">
								<div class="containerBoxButtons" *ngIf="item.selected">
									<button [disabled]="isNSelectedZero(item)" class="boxButton segno" [ngClass]="{'disabled': isNSelectedZero(item)}"
									 (click)="$event.stopPropagation();removeItem(item)">
										<ion-icon color="danger" class="sizeSign" name="remove-outline"></ion-icon>
									</button>
									<div class="boxButton value">
										<span>{{item.nSelected}}</span>
									</div>
									<button color="transparent" class="boxButton segno" (click)="$event.stopPropagation();addItem(item)">
										<ion-icon class="flex1" color="success" class="sizeSign" name="add-outline"></ion-icon>
									</button>
								</div>
							</div>
						</div>
					</ion-item>
				</ion-list>
			</ng-container>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer *ngIf="carrello.length > 0" style="height: 85px">
	<ion-toolbar color="primary" class="central">
		<button class="carrello" [disabled]="ordineDisabled()" [ngClass]="{'disabled': ordineDisabled()}" (click)="goToOrdine()">
			<div class="flex1">
				<ion-icon name="cart-outline" class="sizeCart"></ion-icon>
			</div>
			<div class="column">
				<span class="totale">{{getTotale() | number: '1.0-2'}} €</span>
				<span class="padd-5 labelCarrello">
					{{getLabelCarrello()}}
				</span>
			</div>
		</button>
	</ion-toolbar>
</ion-footer>
