<ion-header>
  <ion-toolbar color="primary" class="central">
		<ion-title>Il tuo ordine</ion-title>
		<ion-buttons slot="start">
      <ion-button  (click)="comeBack()">
				<ion-icon name="arrow-back" mode="ios"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<img alt src="/assets/services/ordine.jpeg" class="fullWidth">
	<ion-card>
		<ion-card-header>
			<ion-card-title class="central">Ombrellone</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ng-container *ngIf="showOmbrellone; else formDiv">
				<div class="row ombrel">
					<div class="flex1">
						<img alt src="/assets/services/umbrella.svg" class="umbrellaIcon">
					</div>
					<div class="flex1">
						<span class="tipo">{{type}}</span>
					</div>
					<div class="flex1">
						<ng-container *ngIf="isGazebo()">
							<span class="bold">{{fila}}</span>
							<span class="bold">-</span>
						</ng-container>
						<span class="bold">{{numero}}</span>
					</div>
				</div>
				<div class="containerFooterButtons">
					<ion-button *ngIf="showOmbrellone" shape="round" color="secondary" size="small" (click)="showOmbrellone = !showOmbrellone">
						<ion-icon size="small" slot="icon-only" name="create"></ion-icon>
					</ion-button>
				</div>
			</ng-container>
			<ng-template #formDiv>
				<form [formGroup]="form" (ngSubmit)="ordinaForm(form)">
					<div class="row">
						<span class="label">Inserisci il tipo di ombrellone</span>
						<ion-select interface="popover" role="combobox" class="formType" formControlName="typeOmbrellone" (ionChange)="changeType($event)">
							<ion-select-option *ngFor="let ombrellone of spiaggia.ombrelloni" name="spiaggia" value="{{ombrellone.cod}}">{{ombrellone.descrizione}}</ion-select-option>
						</ion-select>
					</div>
					<div class="row" *ngIf="isVisible()">
						<span class="label">Fila</span>
						<ion-select interface="popover" role="combobox" class="formType fila" formControlName="filaOmbrellone" (ionChange)="changeFila($event)">
							<ion-select-option *ngFor="let fila of file" type="text" name="fila" value="{{fila.codFila}}">{{fila.codFila}}</ion-select-option>
						</ion-select>
							<span class="label">Numero</span>
							<ion-select interface="popover" role="combobox" class="formType fila" formControlName="numberOmbrellone" (ionChange)="setOmbrellone()">
								<ion-select-option *ngFor="let numero of numeri" type="number" name="numero" value="{{numero}}">{{numero}}</ion-select-option>
							</ion-select>
					</div>
					<div class="containerFooterButtons">
						<ion-button *ngIf="!showOmbrellone" shape="round" color="success" size="small" [disabled]="!allValueInserted()" (click)="showOmbrellone = !showOmbrellone">
							<ion-icon size="small" slot="icon-only" name="save"></ion-icon>
						</ion-button>
					</div>
				</form>
			</ng-template>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title class="central">Carrello</ion-card-title>
		</ion-card-header>
		<ion-card-content style="padding: 0">
			<ng-container *ngFor="let carrelloItem of carrello">
				<div class="containerCarrello">
					<div class="row">
						<div *ngIf="!ordineInEdit"class="flex1">
							{{carrelloItem.nSelected}}x{{carrelloItem.desc}}
						</div>
						<div *ngIf="ordineInEdit" class="flex1">
							<div class="containerBoxButtons">
								<button [disabled]="isNSelectedZero(carrelloItem)" class="boxButton segno" [ngClass]="{'disabled': isNSelectedZero(carrelloItem)}"
								 (click)="removeItem(carrelloItem)">
									<ion-icon color="danger" class="sizeSign" name="remove-outline"></ion-icon>
								</button>
								<div class="boxButton value">
									<span>{{carrelloItem.nSelected}}</span>
								</div>
								<button color="transparent" class="boxButton segno" (click)="addItem(carrelloItem)">
									<ion-icon class="flex1" color="success" class="sizeSign" name="add-outline"></ion-icon>
								</button>
							</div>

						</div>
						<div *ngIf="ordineInEdit" class="flex1">
							{{carrelloItem.desc}}
						</div>
						<div class="flex1 prezzo">
							{{getRowPrezzoCarrello(carrelloItem) | number: '1.0-2'}} €
						</div>
					</div>
				</div>
			</ng-container>
			<div class="rowTotal">
				<span>Totale</span>
				<span class="total">{{getTotale() | number: '1.0-2'}} €</span>
			</div>
			<div *ngIf="ordineMancante()" class="row">
				<span class="ordineWarning">Attenzione hai modificato l'ordine. Per poter ordinare mancano {{getMancante()}} €</span>
			</div>
			<div class="containerFooterButtons">
				<ion-button *ngIf="!ordineInEdit" shape="round" color="secondary" size="small" (click)="ordineInEdit = !ordineInEdit">
					<ion-icon size="small" slot="icon-only" name="create"></ion-icon>
				</ion-button>
				<ion-button *ngIf="ordineInEdit" shape="round" color="success" size="small" (click)="ordineInEdit = !ordineInEdit">
					<ion-icon size="small" slot="icon-only" name="save"></ion-icon>
				</ion-button>
			</div>
		</ion-card-content>
	</ion-card>

</ion-content>

<ion-footer>
	<div class="padd-2">
		<ion-button type="submit" color="primary" [disabled]="ordineDisabled()" [ngClass]="{'disabled': ordineDisabled()}" expand="block" (click)="vaiAlPagamento()">Vai al pagamento</ion-button>
	</div>
</ion-footer>
