<ion-header>
  <ion-toolbar color="primary" class="central">
    <ion-title>
      Fano Spiagge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let spiaggia of spiagge">
		<div class="containerSpiaggia" (click)="goToSpiaggia(spiaggia)">
			<img src="/assets/spiagge/{{spiaggia.id}}.jpg" class="fullWidth">
			<div class="containerDescription">
				<div class="row title">
					{{spiaggia.title}}
				</div>
				<div class="row via">
					<ion-icon name="location-outline" color="white"></ion-icon>
					{{spiaggia.via}}
				</div>
			</div>
			<div class="containerTipologia">
				<img src="/assets/icon/waves.svg">
				<span class="padd-l-2">{{spiaggia.tipo}}</span>
			</div>
		</div>
	</ng-container>
</ion-content>

<ion-footer class="footer">
	<ion-toolbar color="primary">
		<ion-buttons>
			<ion-grid>
				<ion-row size="12" class="text-center">
					<ion-col class="item active" size="6">
						<ion-button (click)="navigateToSpiagge()">
							<img src="/assets/services/spiagge.svg">
						</ion-button>
						<br>
						<span class="menuItem">Spiagge</span>
					</ion-col>
					<!-- <ion-col size="4" class="item disabled" (click)="navigateToPrenotazioni()">
						<ion-button>
							<ion-icon name="book-outline"></ion-icon>
						</ion-button>
						<br>
						<span class="menuItem">Prenotazioni</span>
					</ion-col> -->
					<ion-col size="6" class="item disabled" (click)="navigateToOrdini()">
						<ion-button>
							<img src="/assets/icon/cart.svg">
						</ion-button>
						<br>
						<span class="menuItem">Ordini</span>
					</ion-col>
				</ion-row>
		</ion-grid>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
