ion-content ion-toolbar {
  --background: translucent;
}

.containerSpiaggia{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	.containerDescription{
		position: absolute;
    z-index: 1;
    vertical-align: center;
    width: 60%;
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
    bottom: 0;
    align-items: center;
		color: white;

		.row{
			display: flex;
			width: 100%;
			padding: 5px;
			&.title{
				font-weight: bold;
				font-size: 18px;
			}
			&.via{
				font-size: 14px;
			}
		}

	}
	.containerTipologia{
		position: absolute;
		right: 0;
		top: 0;
		height: 40px;
		width: 40%;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.imageSpiaggia{
	width: 100%;
}

.padd-l-2{
	padding-left: 2px;
}

