.containerWeek{
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	height: 60px;
	margin-top: 20px;
	padding: 10px;
}

.column{
	display: flex;
	flex-direction: column;
	align-items: center;
	&.week{
		width: 14%;
	}
}

.dayWeek{
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.containerDay{
	height: 40px;
  width: 40px;
  display: flex;
  margin: 10px 8px;
  justify-content: center;
  align-items: center;
	&.active{
		color: white;
		background-color: #428cff;
		border-radius: 50%;
	}
	.day{
		font-size: 18px;
	}
}

.dayWeek{
	font-size: 14px;
	display: flex;
	justify-content: center;
}

.labelWeekContainer{
	display: flex;
	margin-top: 30px;
	width: 100%;
	justify-content: center;
}

.spiaggiaContainer{
	margin: 20px 0;
	position: relative;
	.ombrelloniContainer{
		position: absolute;
    z-index: 1;
    overflow-x: scroll;
    height: 168px;
    width: 750px;
    bottom: 0;
    padding: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	}
	.description{
		position: absolute;
		top: 0;
		color: white;
		font-weight: bold;
    height: 40px;
    justify-content: center;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
	}
}

.circle{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin: 7px;
	background-color: grey;
	&.libero{
		background-color: green;
	}
	&.occupato{
		background-color: red;
	}
	&.selected{
		background-color: yellow;
	}
}

.ombrellone{
	font-size: 8px;
	font-weight: bold;
	&.libero{
		color:  green;
	}
	&.occupato{
		color: red;
	}
	&.selected{
		color: yellow;
	}
}

.descSpiaggia{
	margin: 10px 0;
	font-size: 16px;
	line-height: 25px;
}

.containerAttrezzatura{
	width: 100%;
	.row{
		justify-content: space-around;
		align-items: center;
		margin: 15px;
		display: flex;
		.flex1{
			flex: 1;
		}
	}
}

.size{
	height: 100px;
	width: 100px;
}

.containerBoxButtons{
	display: inline-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.boxButton{
	height: 60px;
  width: 60px;
	&.segno{
		background-color:#8080803d;
		border-radius: 5px;
	}
	&.value{
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		font-size: 16px;
	}
}

.sizeSign{
	height: 30px;
	width: 30px;
	margin: 5px;
	font-weight: bold;
}

.disabled{
	opacity: 0.3;
}

.tariffa{
	font-weight: bold;
	padding-left: 2px;
}

.containerTariffa{
	margin: 10px 0;
	display: flex;
	justify-content: center;

}
