.carrelloTitle{
	background-color:#ffffffe8;
	display: flex;
	width: 100%;
	font-weight: bold;
	padding: 10px;
	justify-content: center;
}

.containerCarrello{
	min-height: 30px;
	padding: 10px;
	background-color: #fff;
	display: flex;
	width: 100%;
	font-size: 18px;
	border: none;
	justify-content: space-between;
}

.row{
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.rowTotal{
	display: inline-flex;
	width: 100%;
	min-height: 30px;
	align-items: center;
	padding: 10px 45px;
	font-size: 20px;
	justify-content: space-between;
	background-color: white;
}

.total{
	font-weight: bold;
}

.dialogContainer{
	position: relative;
	.closeContainer{
		position: absolute;
		right: -10px;
    top: -10px;
	}
}