<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
      <ion-button  (click)="comeBack()">
				<ion-icon name="arrow-back" mode="ios"></ion-icon>
			</ion-button>
    </ion-buttons>
    <ion-title>Password dimenticata</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				Inserisci i dati
			</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<form [formGroup]="form" (ngSubmit)="cambiaPasswordAccount(form)">
				<ion-item>
					<ion-input name="cellulare" type="phone" placeholder="Numero cellulare" formControlName="cellulare"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input name="nuova_password" type="password" placeholder="Nuova Password" formControlName="nuova_password"></ion-input>
				</ion-item>
				<ion-item>
					<ion-input name="nuova_password" type="password" placeholder="Conferma Password" formControlName="conferma_password"></ion-input>
				</ion-item>
				<div class="bottonContainer">
					<ion-button type="submit" color="danger" [disabled]="form.invalid" expand="block">Cambia password</ion-button>
				</div>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>
